@import "../utilities";

.wrapper {
  width: 100%;
  background-color: map-get($theme, primary);
  will-change: width, height, left, top;
  position: relative;
  margin: 8rem auto 0;
  height: auto;
  position: relative;
  z-index: 4;
  display: grid;
  grid-template-columns: 10% auto 10%;
  grid-template-rows: auto;
  grid-template-areas:
    ". . ."
    ". container ."
    ". . .";
  gap: 2rem;

  @include sm {
    grid-template-columns: 5% 1fr 5%;
    grid-template-rows: auto;
    column-gap: 0;
  }

  .container {
    grid-area: container;
    padding-top: 4rem;

    h1 {
      font-weight: 700;
      color: #ffffff;
    }

    .entry {
      display: flex;
      align-items: flex-start;
      padding-bottom: 1.75rem;
      border-bottom: 2px dashed map-get($theme, primary-light);

      svg {
        margin: 0.5rem 1.25rem 0 0;
      }

      @include sm {
        flex-direction: column;

        svg {
          margin: 0.5rem 0 1.25rem 0;
        }
      }

      .title {
        h3 {
          color: map-get($theme, medium);
          margin-bottom: 0.75rem;
        }
        .data {
          font-size: 1rem;
          color: #ffffff;
          letter-spacing: 2px;
          font-weight: 400;
          // text-align: right;
        }
      }
    }
  }
}
