@import "../utilities";

.wrapper {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 4;
  display: grid;
  grid-template-columns: 10% 1fr 1fr 1fr 10%;
  grid-template-rows: auto;
  grid-template-areas:
    ". title title title ."
    ". first second third .";
  gap: 2rem;

  @include sm {
    grid-template-columns: 5% 1fr 5%;
    grid-template-rows: auto;
    column-gap: 0;
    grid-template-areas:
      ". title ."
      ". first ."
      ". second ."
      ". third .";
  }

  .title {
    grid-area: title;
    border-top: 2px solid map-get($theme, secondary);
    padding-top: 2rem;

    h1 {
      font-weight: 700;
      color: #ffffff;
    }
  }

  .first {
    grid-area: first;
  }

  .second {
    grid-area: second;
  }

  .third {
    grid-area: third;
  }

  .card {
    background-color: map-get($theme, primary);
    border: 2px dashed map-get($theme, primary-light);
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.3s;

    &:hover {
      border: 2px solid map-get($theme, secondary);
    }

    .name {
      padding: 1.5rem 2rem;
      display: flex;
      align-items: center;
      justify-content: space-between;

      h2 {
        color: #ffffff;
        font-weight: 600;
        margin-bottom: 0;
      }
    }

    .tags {
      padding: 0.25rem 2rem 1.5rem;
      font-size: 1rem;
      color: map-get($theme, secondary);
      font-family: "Space Mono", "Lucida Console", "Courier New", monospace;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 400;
    }
  }
}
