$theme: (
  primary: #121A2C,
  secondary: #FDCA40,
  primary-bg: #14213D,
  primary-light: #414C63,
  medium: #bbbbbb
);

// Small tablets and large smartphones (landscape view)
$screen-xs-max: 576px;

// Small tablets (portrait view)
$screen-sm-max: 768px;

// Tablets and small desktops
$screen-md-max: 992px;

// Large tablets and desktops
$screen-lg-max: 1200px;

// Small devices
@mixin xs {
  @media (max-width: #{$screen-sm-max}) {
      @content;
  }
}

// Medium devices
@mixin sm {
  @media (max-width: #{$screen-md-max}) {
      @content;
  }
}

// Large devices
@mixin md {
  @media (max-width: #{$screen-lg-max}) {
      @content;
  }
}

// Extra large devices
@mixin lg {
  @media (max-width: #{$screen-xl-max}) {
      @content;
  }
}

// Custom devices
@mixin rwd($screen) {
  @media (min-width: $screen+'px') {
      @content;
  }
}